*{
    box-sizing: border-box;
}

h1 {font-size: 3.5em;}
h2 {font-size:2.7em}
h3 {font-size:2em}
p {font-size: 1.25;}
ul{list-style: none;}
li{font-size: 1.75em};

body{
    font-family: "roboto",sans-serif;
    margin: o;
}

button {
font: size 1.5em;
font-weight: bold;
padding: 10px 20px;
border-radius: 10px;
border: 1px solid rgba (0,0,0,0.5);
box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
color: white;
background-color: rgba(180, 140, 30, 0.8);
}

button:hover{
    background-color: rgb(100, 78, 16);
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgba(180, 140, 30, 0.8);
}

header .logo{
margin: 0;
padding: 5px 30px;
font-weight: bold;
color:rgb(100, 78, 16);
font-size: 3em;
font-family: 'Dancing Script', cursive;
}

header .container{
display: flex;
flex-direction: column;
align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 15px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 18px;
}

header a:hover{
    color: rgb(100, 78, 16);
}

#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: url("Imagenes/logo.jpg");
    background-repeat: no-repeat;


    background-position: center center;
    margin: 25px;
    padding: 50px;
    border-radius: 15px;
}


#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Imagenes/torta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1 {
    color: white;
}

#hero button{
    font-size: 1.75em;
}



#primera .container{
    text-align: center;
    padding: 150px 12px;
    font-size: 1.2em;
}

#primera .container .img.container{
    padding: 0px 0px;
}

#segunda {
background-color: rgb(30,30,30);
color: white;
text-align: center;
}

#segunda .container{
    padding: 150px 12px;
}

#segunda h2{
    margin-top: 0;
    font-size: 3.2em;
}

#segunda p{
    display: none;
}

#segunda .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    )
    ,url("Imagenes/torta3.jpg");
    }

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    )
    ,url("Imagenes/torta4.jpg");
    }
.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    )
    ,url("Imagenes/torta7.jpg");
    }

#caracteristicas .container{
    text-align: center;
    padding: 100px 12px;
}

#caracteristicas li{
    margin: 15px 0px;
    font-weight: bold;
}

#final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Imagenes/torta2.jpg");
    
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 768px){
    header .container{
        flex-direction: row;
        justify-content: space-between;
        padding-right: 0px;
    }
    header nav {
        flex-direction: row;
        padding-bottom: 0;
    }

}